@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$green-color: rgba(3, 201, 136, 1);
$blue-color: rgba(28, 130, 173, 1);
#top-tracks {
  opacity: 0;
}
body {
  color: beige;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  height: 100vh;
}
p {
  font-weight: 300;
}
h1 {
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
a {
  color: beige;
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:hover {
  text-decoration: underline;
}
.btn-green {
  background-color: $green-color;
  color: beige;
  font-weight: 600;
  font-size: 14px;
  padding: 1rem;
  border-radius: 30px;
  border-width: 0;
  width: 197px;
  height: 53px;
}
.btn-blue {
  background-color: $blue-color;
  color: beige;
  font-weight: 600;
  font-size: 14px;
  padding: 1rem;
  border-radius: 30px;
  border-width: 0;
  width: 197px;
  height: 53px;
}
.bubble-how {
  grid-area: how;
  background: radial-gradient($blue-color, $green-color);
  border-radius: 50%;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: 80%;
  }
}
.bubble-name {
  grid-area: name;
  background-color: rgba(28, 130, 173, 0.6);
  border-radius: 59% 41% 45% 55% / 48% 10% 90% 52%;
  width: 300px;
  height: 300px;
  margin: 1.5rem;
  transition: border-radius 500ms ease-in-out;
  display: flex;
  align-items: center;
  h2 {
    font-size: 25px;
    padding-left: 1.5rem;
  }
}
.bubble-name:hover {
  border-radius: 19% 81% 18% 82% / 24% 61% 39% 76%;
}
.bubble-contact {
  grid-area: contact;
  background-color: rgba($color: $blue-color, $alpha: 0.8);
  border-radius: 80% 20% 49% 51% / 63% 56% 44% 37%;
  width: 250px;
  height: 250px;
  transition: border-radius 500ms ease-in-out;
  display: flex;
  align-items: center;

  text-align: center;

  h3 {
    width: 80%;
    font-weight: 700;
    font-size: 25px;
  }
}
.bubble-contact:hover {
  border-radius: 71% 29% 45% 55% / 72% 27% 73% 28%;
}
#home {
  display: grid;
  grid-template-areas:
    "h1 h1 h1" "btn btn btn"
    "name how contact" "name how contact" "div div div ";
  gap: 2rem;
  .div-user-info {
    grid-area: div;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5rem;
  }
  h1 {
    grid-area: h1;
    justify-self: center;
  }

  .buttons {
    grid-area: btn;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-self: center;
    button {
      margin: 0;
    }

    input {
      width: 150px;
      height: 50px;
      border-radius: 30px;
    }
    input:focus {
      outline: none;
    }
  }
}
.hidden {
  opacity: 0;
}
#room {
  #head {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    .bubble-id {
      background-color: rgba(28, 130, 173, 0.6);
      border-radius: 45% 55% 54% 46% / 52% 65% 35% 48%;
      width: 300px;
      height: 300px;
      margin: 1.5rem;
      transition: border-radius 500ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 25px;
      }
    }
    .bubble-id:hover {
      border-radius: 74% 26% 54% 46% / 44% 42% 58% 56%;
    }
  }
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1.5rem;
  .player {
    background-color: $blue-color;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    h3 {
      font-weight: 400;
      font-size: 30px;
    }
  }
}
#game {
  .songs {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  #song {
    background-color: $blue-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 500px;
    height: 500px;
    border-radius: 30px;
    img {
      width: 250px;
      height: 250px;
    }
  }
}
#end {
  display: flex;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 40px;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    .player {
      width: 50%;
    }
  }
  .bubbles {
    display: flex;
    justify-content: space-evenly;
    a {
      font-size: 30px;
      font-weight: 500;
      padding-left: 2rem;
    }
  }
}
@media screen and (max-width: 800px) {
  .background {
    height: 100vh;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  #home,
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #room {
    #head {
      flex-direction: column;
      .bubble-id {
        width: 200px;
        height: 200px;
        margin: 1rem;
        h2 {
          font-size: 15px;
        }
      }
    }
  }
  #game {
    #song {
      width: 300px;
      height: 300px;
      img {
        width: 150px;
        height: 150px;
      }
      h2,
      h3 {
        margin: 0;
        padding: 0;
      }
    }
  }
  #end {
    .bubbles {
      flex-direction: column;
      align-items: center;
    }
  }
}
